<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/header :: html-head">
    <title>회원가입</title>
</head>
<body>

<form th:action="@{/signup}" method="POST" th:object="${userSignupRequest}">
    <input type="text" name="username" placeholder="USERNAME" />
    <br />
    <span class="error" th:if="${#fields.hasErrors('username')}" th:error="*{username}">USERNAME ERROR</span>
    <br />
    <input type="password" name="password" placeholder="PASSWORD" />
    <br />
    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">PASSWORD ERROR</span>
    <br />
    <input type="email" name="email" placeholder="EMAIL">
    <br />
    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">EMAIL ERROR</span>
    <br />
    <input type="submit" value="회원가입" />
</form>

</body>
</html>