<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head th:replace="/fragments/header :: html-head">
</head>
<body>

<h1>TAG LIST</h1>

<a th:href="@{|/projects/${projectId}|}">TO PROJECT</a>
<br />

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>이름</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${tags}">
        <td th:text="${t.id}">번호</td>
        <td class="move"
            th:text="${t.name}"
            th:onclick="'location.href=\'' + @{|/projects/${projectId}/tags/${t.id}|} + '\''">
            이름
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>