<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head th:replace="/fragments/header :: html-head">
</head>
<body>

<h1>태그 생성</h1>

<form th:action="@{${url}}" method="POST" th:object="${tag}">
    <input type="hidden" name="projectId" th:value="${projectId}"/>

    <input type="text" th:field="*{name}" placeholder="TAG NAME"/>
    <br/>
    <span class="error" th:if="${#fields.hasErrors('name')}" th:error="*{name}">NAME ERROR</span>
    <br/>
    <input type="submit" value="SUBMIT">
</form>

</body>
</html>