<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head th:replace="/fragments/header :: html-head">

<body>

<h1 th:text="${project.name}">Project Name</h1>
<span th:text="${project.startDate}">Start Date</span> ~
<span th:text="${project.endDate}">End Date</span>
<br/>

<a th:href="@{|${project.id}/tasks/create|}">업무 생성</a><br />
<a th:href="@{|${project.id}/milestones/create|}">마일스톤 생성</a><br />
<a th:href="@{|${project.id}/milestones/list|}">마일스톤 목록</a><br />
<a href="/tags/create">태그 생성</a><br />
<a href="/tags/list">태그 생성</a><br />

<table>
    <thead>
    <tr>
        <th>업무 번호</th>
        <th>업무 이름</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${tasks}">
        <td th:text="t.id">업무 번호</td>
        <td class="move" th:text="t.name"
        th:onclick="'location.href=\''+ @{|/tasks/${t.id}|} + '\''">업무 이름</td>
    </tr>
    </tbody>
</table>

</body>
</html>