<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <style>

        table {
            border-collapse: collapse;
            text-align: center;
        }

        tr th, tr td {

            border: 1px black solid;
        }

        .move:hover {

            cursor: pointer;
            color: cornflowerblue;
        }

        .error {
            color: red;
            font-size: 8px;
        }
    </style>
    <title>DODO</title>
</head>
</html>